$color-one: black;
$color-two: #1e2226;
$color-three: #95e0b6;
$color-four: #7caeec;
$color-five: rgb(233, 233, 234);
$color-six: rgb(186, 187, 188);

html {
  color: $color-five;
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: $color-one;
}

h1 {
  text-align: center;
}

hr {
  border: 0.5px solid $color-six;
}

#upload-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  // margin: 20px;
}

#refresh {
  background-color: rgba($color: #121212, $alpha: 0);
  color: #edebe8;
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

#upload {
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}

#feed {
  width: 100%;
}

.song {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  width: 800px;
  background-color: $color-two;
  border-radius: 1rem;
}

.name-and-player {
  margin: 5px;
}

#song-name {
  margin-inline: 5px;
  margin-bottom: 5px;
}

#audio {
  margin: 5px;
  height: 40px;
  width: 400px;
}

#add-note-and-list {
  display: flex;
  margin: 5px;
  align-items: center;
  min-width: 400px;
  justify-content: space-between;
  border: 0.5px solid rgb(78, 72, 62);
  border-radius: 5px;
  color: #edebe8;

  input {
    font-size: 14px;
    color: #edebe8;
  }
}

#input-and-button {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;

  input {
    margin-inline: 5px;
    color: black;
    &:focus {
      outline-color: $color-four;
    }
  }

  button {
    width: 100px;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 0.5px solid white;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    color: white;
  }
}

#notes-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 10px;
}

#note {
  display: flex;
  align-items: flex-start;
  margin: 5px;

  input {
    margin-right: 8px;
    color: black;
  }
}

#file {
  visibility: hidden;
  width: 0px;
}
