/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #fff;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #fff;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #fff;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

h1 {
  margin-bottom: 40px !important;
}

#login,
#signup,
#create-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

#new-project {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 20px; */
}

#projects,
#songs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
}

article {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
  border: 1px solid var(--primary-focus);

  &:hover {
    border: 1px solid var(--primary);
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

#upload-section {
  display: flex;
  justify-content: flex-end;
}

#upload {
  display: flex;
}

#file {
  display: none;
}

#refresh {
  width: 160px;
  margin-left: 20px;
}

.song {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  transition: 0.2s ease-in-out;
  border: 1px solid var(--primary-focus);
  border-radius: 0.25rem;

  &:hover {
    border: 1px solid var(--primary);
  }
}

.song-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.song-bottom {
  display: flex;
}

.input-and-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px !important;
}

.song-name {
  display: inline;
  text-align: left;
  text-overflow: ellipsis;
  width: 20%;
}

.notes-list {
  width: 100%;
  margin-left: 1rem;
  border-top: 1px solid var(--primary-focus);
}

.note {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  /* border: 1px solid red; */
}

#add-note-button {
  margin-bottom: 0px !important;
  margin-inline: 0.5rem;
  width: 40%;
  font-size: 18px;
}

.note-input {
  margin-bottom: 0px !important;
  margin-inline: 0.5rem;
  font-size: 18px;
}

.note-text {
  display: flex;
  text-align: left;
  word-break: break-all;
  /* border: 1px solid red; */
}

.audio {
  width: 30%;
}
